extends layout
block content
	h1 CrowdPlot

	- var cols = 30
	- var rows = 10

	- objects = [[obj0, obj1, obj2], [obj3, obj4, obj5]]

	table
		thead
		tbody
		-for (var i = 0; i < rows; i++)
			tr
				-for (var j = 0; j < cols; j++)
					td&attributes({'x': j},{'y': i},{'id':j+'_'+i})= subobject
						//div.tableCell&attributes({'x': j},{'y': i})= j+' '+i
						img.tableCell&attributes({'x': j},{'y': i})(src='uploads/png/'+j+'_'+i+'_mini.png', alt='',width='40px',height='40px') 


	
	div#hover
		div#activeCell
		div#svgWrap
			svg#svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",width="200px",height="200px")
		a.back back
		input(
			type='button'
			class="save"
			value="save"
  		)
		//form(action="save", method="post", enctype="multipart/form-data")
		//	input(type="file", name="newSvg")
		//	input(type="submit")

	div#log
		div#log1
		div#log2


