doctype html
html
	head
		title= CROWDPLOT
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-2.1.3.min.js')
		script(src='/javascripts/script.js')
		script(src='/javascripts/snap.svg-min.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')

		meta(name='viewport', content='width=device-width', initial-scale='1', maximum-scale='1', user-scalable='no')

	body
		block content