body {
	padding: 1px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}


.logo {
		margin:auto;

	display: block;
	background: url("/images/casajasmina-logo.png") no-repeat;
	height: 100px;
	width: 200px;
	margin-top: 50px;
	margin-bottom: 20px;
	color: transparent;
}


table{
	margin: auto;
	border-spacing: 0px 0px;
	white-space: nowrap;
	margin-top: 50px;
}
#table{
	margin:auto;
	width: 520px;
	margin-top: 50px;
}

#svgWrap{
	margin:auto;
	width: 520px;
	margin-top: 100px;
	background: 255;
}

#h1{
	margin-bottom: 50px;
}

img.tableCell{
	width: 40px;
	height: 40px;

}
tr{
	margin: 0px;
	padding:0px;
}
td {
	width:40px;
	height:40px;
	margin: 0px;
	padding:0px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}


#hover{
	position:fixed;
	width: 100%;
	height:100%;

	/** Position and style */
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);

}

#svg{
	stroke:red;
	border:1px solid black;
	float:left;
	background-color: #ffffff;
	

}


.stop-scrolling {
	height: 100%;
	overflow: hidden;
}


h1{
	position: relative;
	background-color: #F47A20;
	margin-left: -10px;
	color: #FFF;
	left: 20px;
	font: 112.5%/1.75 serif;
	font-weight: 800;
	font-family: "TyponineSans Monospace Regular 4";
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	padding: 0 5px;
}